altair==4.1.0
attrs==21.2.0
click==8.0.1
colorama==0.4.4
entrypoints==0.3
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
numpy==1.20.3
pandas==1.2.4
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
toolz==0.11.1
vega-datasets==0.9.0
Werkzeug==2.0.1
