<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flasked Altair</title>
    <meta charset="utf-8">


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-beta.30/vega.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-beta.2/vega-lite.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-beta.14/vega-embed.js"></script>

    <script src="https://vega.github.io/datalib/datalib.min.js"></script>

    <!-- Vega Tooltip -->
    <script src="https://vega.github.io/vega-tooltip/vega-tooltip.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://vega.github.io/vega-tooltip/vega-tooltip.css">

    <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #fffff;}</style>
    <style>
    div.waterfall {
        width: 1200px;
        height: 300px;
        overflow-x: auto;
        overflow-y: auto;
    }
    </style>
  </head>
  <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active">
          <li><a href="https://altair-viz.github.io/index.html">Altair</a></li>
          <li><a href="https://vega.github.io/vega-lite/">Vega-Lite</a></li>
          <li><a href="http://d3js.org/">D3</a></li>
          <li><a href="http://flask.pocoo.org/">Flask</a></li>
        </ul>
        <h3 class="text-muted">Flasked Altair</h3>
      </div>

      <div class="charts text-center">
        <div class="row"><div id="bar"></div></div><hr>
        <div class="waterfall" id="waterfall"></div><hr>
        <div class="row"><div id="line"></div></div><hr>
        <div class="row"><div id="multiline"></div></div><hr>
        <div class="row"><div id="stocks"></div></div><hr>
        <div class="row"><div id="scatter"></div></div><hr>
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    </div>

    <!-- Render Charts -->
    <script type="text/javascript">
      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };

        vega.embed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }

      parse("/data/bar", "bar")
      parse("/data/waterfall", "waterfall")
      parse("/data/line", "line");
      parse("/data/multiline", "multiline");
      parse("/data/stocks", "stocks");
      parse("/data/scatter", "scatter");
    </script>

  </body>
</html>
